@model IEnumerable<VideoRentalProject.Models.Customer>
@{
    ViewBag.Title = "Index";
}

    <h2>Customers</h2>
    
        @if (Model.Count() == 0)
                {
                    <p>
                        There is no customer in the List
                    </p>
                }
<table class=" table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                DiscountRate
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(c.Name, "Edit", "Customers", new { id = c.Id }, null)
                </td>
                <td>
                    @c.MembershipType.Name
                </td>
            </tr>
        }
    </tbody>
</table>
                           
                   
                        

